<div class="container">
  <a href="/">
    <i class="fas fa-arrow-left" style="font-size: 1.3rem;margin: 2rem 0;"></i>
  </a>

  <div class="form-wrapper w-75 m-auto mt-5">
    <form id="form" action="/restaurants/{{restaurant.id}}/edit" method="POST" novalidate>

      <div class="form-group row mb-4">
        <label for="id" class="col-sm-2 col-form-label" style="font-weight: bold;">No. {{restaurant.id}}</label>
        <div class="col-sm-8">
          <input type="hidden" class="form-control" name="id" id="id" value="{{restaurant.id}}" required>
        </div>
      </div>

      <div class="form d-flex mb-5">
        <div class="d-flex flex-column" style="margin-right: 1.5rem; font-weight: bold;">
          <label for="name" class="col-auto col-form-label form-title">Name：</label>
          <label for="category" class="col-auto col-form-label form-title">Category：</label>
          <label for="image" class="col-auto col-form-label form-title">Image：</label>
          <label for="location" class="col-auto col-form-label form-title">Location：</label>
          <label for="phone" class="col-auto col-form-label form-title">Phone：</label>
          <label for="google_map" class="col-auto col-form-label form-title">Google Map：</label>
          <label for="rating" class="col-auto col-form-label form-title">Rating：</label>
          <label for="description" class="col-auto col-form-label form-title">Description：</label>
        </div>

        <div class="d-flex flex-column" style="width: 500px;">
          <div class="form-input-area">
            <input type="text" class="form-control" name="name" id="name" placeholder="艾朋牛排餐酒館 ..."
              value="{{restaurant.name}}" required>
          </div>

          <div class="form-input-area">
            <select class="form-select" name="category" id="category">
              <option value="">--請選擇一種餐廳類別--</option>
              <option {{#compare restaurant.category '===' '英式下午茶'}}selected{{/compare}}>英式下午茶</option>
              <option {{#compare restaurant.category '===' '路邊攤小吃'}}selected{{/compare}}>路邊攤小吃</option>
              <option {{#compare restaurant.category '===' '義式料理'}}selected{{/compare}}>義式料理</option>
              <option {{#compare restaurant.category '===' '美式料理'}}selected{{/compare}}>美式料理</option>
              <option {{#compare restaurant.category '===' '日式料理'}}selected{{/compare}}>日式料理</option>
              <option {{#compare restaurant.category '===' '法式料理'}}selected{{/compare}}>法式料理</option>
              <option {{#compare restaurant.category '===' '中式料理'}}selected{{/compare}}>中式料理</option>
              <option {{#compare restaurant.category '===' '越式料理'}}selected{{/compare}}>越式料理</option>
              <option {{#compare restaurant.category '===' '泰式料理'}}selected{{/compare}}>泰式料理</option>
              <option {{#compare restaurant.category '===' '韓式料理'}}selected{{/compare}}>韓式料理</option>
              <option {{#compare restaurant.category '===' '港式料理'}}selected{{/compare}}>港式料理</option>
              <option {{#compare restaurant.category '===' '印度小吃'}}selected{{/compare}}>印度小吃</option>
              <option {{#compare restaurant.category '===' '中東料理' }}selected{{/compare}}>中東料理</option>
              <option {{#compare restaurant.category '===' '速食店'}}selected{{/compare}}>速食店</option>
              <option {{#compare restaurant.category '===' '烘焙館'}}selected{{/compare}}>烘焙館</option>
              <option {{#compare restaurant.category '===' '咖啡廳'}}selected{{/compare}}>咖啡廳</option>
              <option {{#compare restaurant.category '===' '素食'}}selected{{/compare}}>素食</option>
              <option {{#compare restaurant.category '===' '酒吧'}}selected{{/compare}}>酒吧</option>
              <option {{#compare restaurant.category '===' '夜市'}}selected{{/compare}}>夜市</option>
              <option {{#compare restaurant.category '===' '其他'}}selected{{/compare}}>其他</option>
            </select>
          </div>

          <div class="form-input-area">
            <input type="url" class="form-control" name="image" id="image" placeholder="https://example.com"
              value="{{restaurant.image}}" required>
          </div>

          <div class="form-input-area">
            <input type="text" class="form-control" name="location" id="location" placeholder="台北市信義區忠孝東路 1 號"
              value="{{restaurant.location}}" required>
          </div>

          <div class="form-input-area">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="0912345678 / 02-1234567"
              value="{{restaurant.phone}}" required>
          </div>

          <div class="form-input-area">
            <input type="url" class="form-control" name="google_map" id="google_map"
              placeholder="https://goo.gl/maps/123456" value="{{restaurant.google_map}}" required>
          </div>

          <div class="form-input-area">
            <input type="number" class="form-control" name="rating" id="rating" min="0" max="5" step="0.1"
              value="{{restaurant.rating}}" placeholder="0.0 ~ 5.0" required>
          </div>

          <div class="form-input-area">
            <textarea type="text" class="form-control" name="description" id="description"
              placeholder="從味蕾開始，重拾美味感動。..." rows="5" cols="33" required>{{restaurant.description}}</textarea>
          </div>
        </div>
      </div>

      <div class="col-12" style="margin-bottom: 2rem;">
        <button id="submitButton" class="btn btn-primary" type="submit" style="margin-right: 1rem;">Submit</button>
        <button id="deleteButton" class="btn btn-danger" type="button" data-bs-toggle="modal"
          data-bs-target="#deleteModal{{restaurant.id}}">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal{{restaurant.id}}" tabindex="-1" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center px-3 py-5 fs-4 fw-bold">
            Confirm whether to delete 『{{restaurant.name}}』 ?
          </div>
          <div class="modal-footer">
            <small>make sure you want to delete ! this can't be undo !</small>
            <form action="/restaurant/{{restaurant.id}}/delete" method="POST">
              <button type="submit" name="deletebtn" value="yes" class="btn btn-primary ms-5">Yes</button>
            </form>
            <button type="button" name="deletebtn" value="no" class="btn btn-secondary"
              data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>